@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: 'Hind, san-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$candy-app-primary: mat-palette($mat-amber);

$candy-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

$nav-link-color: rgba(0,0,0,.64);

body {
  margin: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0px;
}

.toolbar-item {
  font-size: 1.2em;
}

.chart-card {
  width: 500px;
  height: 500px;
  margin: 15px;
  float: left;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-app-name {
  margin-left: 8px;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}
