/* md custom theme */
@import "../node_modules/@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: 'Hind, san-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$turkey-app-primary: mat-palette($mat-amber);

$turkey-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$turkey-app-warn: mat-palette($mat-red);

$turkey-app-theme: mat-light-theme(
    $turkey-app-primary,
    $turkey-app-accent,
    $turkey-app-warn
);

@include angular-material-theme($turkey-app-theme);

/*additional app-wide classes */
$toolbar-link-color: #333333;
$nav-background: #333333;
$nav-link-color: #dddddd;

body {
  margin: 0;
}

/* app containers */
.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* main toolbar */
.app-toolbar {
  z-index: 2;
}

.app-is-mobile .app-toolbar {
  position: fixed;
}

.app-toolbar.mat-toolbar.mat-primary {
  color: $toolbar-link-color;
}

.app-toolbar-spacer {
  flex: 1 1 auto;
}

.app-toolbar-icon {
  padding: 0px;
}

.app-toolbar-brand.mat-icon-button {
  font-size: 1.2em;
  width: 100px;
}

h1.app-name {
  margin-left: 2px;
  display: inline;
}

/*side nav */

.app-sidenav.mat-drawer {
  background: $nav-background;
  width: 150px;
}
.app-sidenav.mat-nav-list .mat-list-item {
  color: $nav-link-color;
  font-size: .9em;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

/* components */
.dashboard-chart-card {
  width: 500px;
  height: 500px;
  margin: 15px;
  float: left;
}

/* router outlet content area */
.content-container {
  margin: 10px;
}

/* shared styles in components*/

$app-list-link: #1565C0;

h2.app-list-header {
  font-size: 1.3em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 10px;
}

h3.app-list-header {
  font-size: 1.2em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 10px 0;
}

.app-list-details > mat-card-title {
  font-size: 1em;
}

.app-stats-icon {
  padding-left: 20px;
}

.app-list-link {
  cursor:pointer;
  height: auto;
  color: $app-list-link;
}



